######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig


######################
# Maven
######################
/log/
/target/

######################
# Gradle
######################
.gradle/
/build/

######################
# Package Files
######################

*.war
*.ear
*.db

######################
# Directories
######################
/bin/
/deploy/
/temp/

######################
# Logs
######################
*.log

######################
# Others
######################
*.class
*.*~
*~
.merge_file*

######################
# Gradle Wrapper
######################
!gradle/wrapper/gradle-wrapper.jar

readme.txt
Temp.java

